<h1><%= @post.title %></h1>

<h3><%= link_to @post.title, @post.url %></h3>
<p><%= @post.url %></p>
<p><%= @post.content %></p>

<%= render "./comments/form" %>

<ul>
<% @post.comments.each do |comment| %>
<li><%= comment.content %></li>
<% end %>
</ul>

<%= form_for @post,  :html => {:method => :delete} do |f|%>
<%= f.submit "Delete Post" %>
<% end %>